<!DOCTYPE html>

<html lang="ja">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="csv.scss">
    <title>出退勤管理システム(Hirise)</title>
  </head>

  <body>
    <div class="header1">
        <%= image_tag 'image7.png', :size=>'150x70' %>
        <span style="font-size: 200%; vertical-align: 20px;">ハイライズ株式会社　　</span>
        <span style="font-size: 120%; vertical-align: 20px;">社内システム</span>
        <p style="float: right;">
        <script type="text/javascript">
            <!--

            var weeks = new Array('日','月','火','水','木','金','土');

            var now = new Date();

            var year = now.getYear(); // 年
            var month = now.getMonth() + 1; // 月
            var day = now.getDate(); // 日
            var week = weeks[ now.getDay() ]; // 曜日
            var hour = now.getHours(); // 時
            var min = now.getMinutes(); // 分
            var sec = now.getSeconds(); // 秒

            if(year < 2000) { year += 1900; }

            // 数値が1桁の場合、頭に0を付けて2桁で表示する指定
            if(month < 10) { month = "0" + month; }
            if(day < 10) { day = "0" + day; }
            if(hour < 10) { hour = "0" + hour; }
            if(min < 10) { min = "0" + min; }
            if(sec < 10) { sec = "0" + sec; }

            // 表示開始
            document.writeln('画面表示日時<br>');
            document.writeln(year + '-' + month + '-' + day + '<br>');
            document.writeln(hour + '時' + min + '分' + sec + '秒</b>');
            // 表示終了

            // -->
        </script>
      </p>
      </div>
      <div class="header2">
        
      </div>
      <div class="header3">
        <%= link_to '出退勤管理画面', '/main', class: 'class', method: :get %><br>
        <%= link_to '出退勤CSV出力', '/csv', class: 'class', method: :get %>
      </div>
      <div>
        <div class="main">
          <p>■社員名を選択し、連絡ボタンを押下してください</p><br>
          <%= form_for(@csv, url: {controller:'csv', action: 'create'}) do |f| %>
          <div style="float:left;">♦︎ CSV出力年月 ： 　年　</div>
            <div class="cp02_ipselect cp_sl01" style="float:left;"><%= f.date_select :contact_datetime, {start_year: 2020, end_year: 2040, discard_month: true, discard_day: true, } %></div>
          <div style="float:left;">　月　</div>
            <div class="cp02_ipselect cp_sl01"><%= f.date_select :contact_datetime, {discard_year: true, use_month_numbers: true, discard_day: true, } %></div><br>
          <div style="float:left;">♦︎ 出力フォルダ ： 　</div>
            <div class="cp_iptxt" style="float:left;">
              <input type="text" value="C:￥download"><%#= text_field_tag 'Directory', '', placeholder: "C:￥download", :size=>"90x30"%></dif>
          <% end %>
        </div><br>
        <%= form_tag tr_contact_history_csv_path(format: :csv), method: 'get', enforce_utf8: false do %><br>
        <button type="submit" class="btn-square02">CSV出力</button>
            <%#= submit_tag 'CSV出力' %>
          <% end %>
      </div>

      <div><%#= link_to "CSV出力", tr_contact_history_csv_path(format: :csv) %></div>
  </body>

</html>